<div class="container">
  <div class="card">
      <div class="card-body">
          <table class="table">
              <thead>
                  <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellido</th>
                      <th scope="col">Email</th>
                      <th scope="col">BirthDate</th>
                     
                      
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let usuario of usuarios">
                      <th scope="row">{{ usuario.id }}</th>
                      <td>{{ usuario.firstname }}</td>
                      <td>{{ usuario.lastname }}</td>
                      <td>{{ usuario.email }}</td>
                      <td>{{ usuario.birthDate }}</td>
                  
                      
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
